
<div class="row">
    <div class="col-md-2">
        <button id="add-number" class="btn btn-primary">Add Number</button>
    </div>
    <div class="col-md-3">
        <input type="text" id="min" class="form-control" placeholder="Min" />
    </div>
    <div class="col-md-3">
        <input type="text" id="max" class="form-control" placeholder="Max" />
    </div>
    <div class="col-md-2">
        <button id="get-with-cars" class="btn btn-primary">Get Person With Cars</button>
    </div>
</div>


<ul style="font-size: 25px;" id="numbers">
    
</ul>

@section scripts
{
    <script src="/Scripts/index.js"></script>
}